<!DOCTYPE html>
<html lang="zh-cn" class="login">
    <head>
        <meta charset="UTF-8">
        <title>Node 的个人博客</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="description" content="Node.js的个人博客，分享Node.js技术, 不忘初心，共同成长">
        <meta name="keywords" content="Node, Node.js,Node 的博客，Node.js技术">
        <link rel="stylesheet" href="/stylesheets/normalize.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        <section>
            <form action="/login" method="post">
                <div class="form-group">
                    <input type="text" name="name" placeholder="登录名">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="密码">
                    <% if (message) { %>
                    <p><%= message %></p>
                    <% } %>
                </div>
                <div class="form-group">
                    <input type="submit" value="登录">
                </div>
            </form>
        </section>
        <footer>
            <p>Copyright © 2016 Node</p>
            <p>Powered by Express</p>
        </footer>
    </body>
</html>