<aside>
    <section class="main-aside-avatar">
        <img src="/img/banner.png">
    </section>
    <ul>
        <li><a href="">撰写文章</a></li>
        <li><a href="">关于博客</a></li>
        <li><a href="">友情链接</a></li>
        <li><a href="">登出博客</a></li>
    </ul>
</aside>